@use 'colors' as *;
@use 'reset';

main {
    #info {
        background-color: $gray;
        color: $blue;

        ul {
            height: 125px;
            display: flex;
            align-items: center;
            justify-content: space-around;  
            
            li {
                display: flex;
                align-items: center;
                
                img {
                    padding-right: 10px;
                }
            }
        }
    }

    .video {
        padding: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        h2 {
            color: $blue-secondary;
            line-height: 40px;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 30px;
            color: $text;
        }
    }
}

